@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
  letter-spacing: 2px;
  word-spacing: 4px;
  text-align: center;
  text-align-last: center;
  user-select: none;
}
.login-page {
  width: 360px;
  margin: 10% 0 0 10%;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input,
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 5px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 4px;
  background: #afd804;
  font-family: monospace;
  text-transform: uppercase;
  transition: background-color 1s;
}

.form button:hover {
  cursor: pointer;
  background-color: #56d804;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background:url("../images/wallpapersden.com_fortnite-chapter-2_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -90px;
}