/* esraa */
* {
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-right: 140px;
}

#gameTimer {
  text-align: center;
  margin-right: 160px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

#game {
  margin-right: auto;
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  border: 3px solid black;
  width: 800px;
  height: 550px;
}

#gameBackground {
  position: relative;
  width: 100%;
  height: 100%;
}

#footer {
  font-size: 30px;
  margin-top: -40px;
  margin-left: 220px;
  width: 1000px;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.footerDivs {
  width: 300px;
  float: left;
  text-align: left;
  margin-left: 20px;
  padding-left: 10px;
}

.score {
  color: white;
  font-size: 24px;
  margin: 6px 12px;
  display: flex;
  flex-direction: row;
  width: 100%
}
.score h2:first-child{
margin: 10px 20px;
} 
.score h2:last-child{
margin: 10px 20px;

} 

.level {
  text-align: center;
}

#birds img {
  position: relative;
}

#birds {
  margin-top: -550px;
  position: relative;
}

/* esraa */
.bird {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 10px 2px;
}

.flip {
  transform: rotate(180deg);
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: all 1s cubic-bezier(0.93, -0.22, 1, -0.01);
  font-family: cursive;
}

#welcome h1 {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 30%;
  left: 50%;
  transition: all 1s cubic-bezier(0.93, -0.22, 1, -0.01);
  font-size: 32px;

}

#welcome button {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 63%;
  left: 50%;
  background: #90b1ee;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  transition: all 1s;
}

#welcome button:hover {
  background-color: #5084e4;
  color: white;
  cursor: pointer;
}

.out {
  right: 100% !important;
  color: transparent !important;
}

.out h1,
.out button {
  left: -40% !important;
  background: transparent;
  color: transparent;
  border: none;
}

#bomb {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: -350px;
}

.falling {
  animation: 6s bombdown forwards;
}

@keyframes bombdown {
  0% {
    top: -350px;
  }

  100% {
    top: 120%;
  }
}


#bomb img {
  width: 100px;
  transform: translateY(70%);
  margin: 0 auto;
  display: block;
}

.boom {
  width: 450px !important;
  transform: translate(-10%, -10%) !important;
}

.caveMan {
  position: absolute;
  top: 78%;
  transform: rotateY(180deg);
  right: 0;
  transition: right 60s;
}

.moving {
  right: 100%;
}